/* style001.css */

body
{
    margin: 2px 5px;
    background-color: rgb(40, 40, 40);
    color: rgb(255, 255, 255);
}

button
{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: 14px;
    color: rgb(255, 255, 255);
}

button:hover
{
    border-color: rgb(0, 255, 255);
}

button:active
{
    color: rgb(255, 0, 255);
}

textarea
{
    width: 400px;
    height: 400px;
    border: solid 1px rgb(100, 100, 100);
    padding: 10px;
    background-color: rgb(0, 0, 0);
    resize: none;
}

iframe
{
    width: 50%;
    height: 400px;
    border: solid 1px;
}

input[type="file"]
{
    opacity: 1;
    background-color: rgb(0, 0, 0);
    color: rgb(130, 130, 130);
    font-size: 14px;
    text-align: right;
    cursor: pointer;
}

#htmlInput
{
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#output
{
    color: white;
}
